header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    /* border: 2px solid blue; */
    padding: 18px 24px;
}

#logo {
    width: 55px;
}

#title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}