main {
    /* border: 2px solid red; */
    padding: 30px 30px 10px;
}

.add-ingredient-form {
    display: flex;
    justify-content: start;
    /* align-items: center; */
    height: 38px;
    gap: 8px;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
}

.add-ingredient-form>input {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 500px;
}

.add-ingredient-form>button {
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    cursor: pointer;
    /* font-weight: 500; */
}

.ingredients-list {
    margin-bottom: 30px;
}

.ingredients-list>li {
    color: #475467;
    line-height: 28px;
}

.ingredients-list-parent>h2 {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.6rem;
}

.cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F0EFEB;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 658px;
}

.cta-container>button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}


.cta-container-left>h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
}

.cta-container-left>p {
    margin-top: 0;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.caution-text {
    margin-top: 0;
    /* text-align: start; */
    font-size: 0.9rem;
    font-style: italic;
    color: #6B7280;
    font-weight: 450;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}